/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/scss/styles.scss ***!
  \**********************************************************************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main {
  margin: 15%;
  border: 1px solid white;
  padding: 100px;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e1117;
  padding: 8px 12px;
  font-size: 26px;
}
.navbar .navbar__logo {
  font-size: 40px;
}
.navbar .navbar__logo i {
  padding: 10px 10px;
  color: white;
}
.navbar .navbar__menu {
  display: flex;
}
.navbar .navbar__menu li {
  padding: 8px 12px;
}
.navbar .navbar__menu li:hover {
  background-color: #d49466;
  border-radius: 4px;
}
.navbar .navbar__icons {
  display: flex;
  padding-left: 0;
}
.navbar .navbar__icons li {
  padding: 8px 12px;
  font-size: 24px;
}

.containor {
  display: none;
}

.popup {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #264db5;
  box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, 0.3);
  color: black;
}

.popup-wrap {
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 15px;
}

.popup-head {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-body {
  width: 100%;
  background-color: #ffffff;
}

.body-content {
  width: 100%;
  padding: 30px 0px;
  text-align: center;
}

.body-titlebox {
  text-align: center;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.body-titlebox {
  text-align: center;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.popup-foot {
  width: 100%;
  height: 50px;
}

.pop-btn {
  display: inline-flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  float: left;
  color: #ffffff;
  cursor: pointer;
}

.pop-btn.confirm {
  border-right: 1px solid #3b4fbf;
}

body {
  color: #eee6e5;
  background-color: #0e1117;
  font-size: 25px;
}

input[type=text], input[type=password], .pwdCheckBox.socialIcons {
  font-size: 20px;
  display: block;
  padding: 5px 0px 5px 5px;
  margin: 8px 0px 8px 0px;
  border-radius: 4px;
}

.socialIcon {
  font-size: 50px;
  padding: 5px 5px 5px 0px;
  margin: 8px 0x 10px 0px;
}

input[type=submit] {
  display: block;
  font-size: 20px;
  border-radius: 4px;
  padding: 6px 6px 6px 6px;
  margin-top: 4px;
}
