nav.navbar
        div.navbar__logo
            a(href="#") 
                i.fab.fa-dev verser
        ul.navbar__menu 
            li 
                a(href="#")  Home
            li 
                a(href="#")  Media
            li 
                a(href="#")  Note
            li 
                a(href="#")  Temp1
            li 
                a(href="#")  Temp2
        ul.navbar__icons
            li 
                a(href="#") login
            li 
                a(href="#") Join