nav.navbar
        div.navbar__logo
            a(href="/")
                i.fab.fa-dev
        ul.navbar__menu 
            li 
                a(href="/") Home
            li 
                a(href="/media") Media
            li 
                a(href="/board") Board
            li 
                a(href="/") Temp1
        ul.navbar__icons
            li 
                a(href="/admin")  admin
            li 
                a(href="/user/login") login
            li 
                a(href="/user/Join") Join