div.containor
    div.popup-wrap
        div.popup
            div.popup-head 알림:
                span.head-title 알!
            div.popup-body
                div.body-content Confirm Modal
                    div.body-titlebox
                        h1 삐리리리리리
        div.popup-foot
            span.pop-btn.confirm 확인
            span.pop-btn.close 창 닫기
