nav.navbar
        div.navbar__logo
            a(href="/")
                i.fab.fa-dev
        ul.navbar__menu 
            li 
                a(href="/admin") Admin Home
            li 
                a(href="/admin/userHome") User Home
            li 
                a(href="/admin/userMedia") User Media
            li 
                a(href="/admin") User Board
        ul.navbar__icons
            li 
                a(href="/") login
            li 
                a(href="/") Join